[build]
  base = "apps/web-app"
  command = "cd ../.. && pnpm install --shamefully-hoist && cd apps/web-app && pnpm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NODE_ENV = "production"
  NPM_FLAGS = "--legacy-peer-deps"

[[plugins]]
  package = "@netlify/plugin-nextjs"
