[build]
  command = "pnpm install && pnpm --filter @liftout/web-app run build && pnpm --filter @liftout/web-app deploy --prod ./deploy && cp -r ./deploy/node_modules ./apps/web-app/"
  publish = "apps/web-app/.next"

[build.environment]
  NODE_VERSION = "20"
  NODE_ENV = "production"
  NETLIFY_USE_PNPM = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"
